USE [SevDB]
GO
/****** Object:  Table [dbo].[ENROLLMENTS]    Script Date: 4/11/2022 3:57:41 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENROLLMENTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[COURSE_ID] [int] NOT NULL,
	[STUDENT_ID] [int] NOT NULL,
 CONSTRAINT [PK_ENROLLMENTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_ENROLLMENTS_UNIQUE_ENROLLMENT] UNIQUE NONCLUSTERED 
(
	[COURSE_ID] ASC,
	[STUDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ENROLLMENTS]  WITH CHECK ADD  CONSTRAINT [FK_ENROLLMENTS_ToCOURSES] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ENROLLMENTS] CHECK CONSTRAINT [FK_ENROLLMENTS_ToCOURSES]
GO
ALTER TABLE [dbo].[ENROLLMENTS]  WITH CHECK ADD  CONSTRAINT [FK_ENROLLMENTS_ToSTUDENTS] FOREIGN KEY([STUDENT_ID])
REFERENCES [dbo].[STUDENTS] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ENROLLMENTS] CHECK CONSTRAINT [FK_ENROLLMENTS_ToSTUDENTS]
GO
