USE [SevDB]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 4/11/2022 3:57:41 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nchar](50) NULL,
	[LASTNAME] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_STUDENTS_UNIQUE_ENTRY] UNIQUE NONCLUSTERED 
(
	[FIRSTNAME] ASC,
	[LASTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [CK_STUDENTS_FIRSTNAME] CHECK  ((len([FIRSTNAME])>=(4)))
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [CK_STUDENTS_FIRSTNAME]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [CK_STUDENTS_LASTNAME] CHECK  ((len([LASTNAME])>=(4)))
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [CK_STUDENTS_LASTNAME]
GO
