@page
@model SevManagementApp.Pages.Enrollments.DeleteModel
@{
    ViewData["Title"] = "Enrollments-Delete";

}

@if (!Model.errorMessage.Equals(""))
{
    <h2><strong>@Model.errorMessage</strong></h2>
}