@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <div class="row">
        <a href="https://www.sev.org.gr/" target="_blank">
            <div class="col"><a href="https://www.sev.org.gr/" target="_blank"><img src="css/images/FB-Banner-2.png" width="600px" height="500px" /></a></div>
        

        <div class="col"><a href="https://diaviou.aueb.gr/" target="_blank"><img src="css/images/digima-temp-fb-page.jpg" width="600px" height="500px" /></a></div>
        
    </div>
    <h1 class="display-4">Welcome to SEV-ΚΕΒΙΔΙΜ Management application</h1>
    <div class="container">
        
        <h1>What is this?</h1>
        <p>This is an application for SEV-KEBIDIM programs teacher, student and course management</p>
    </div>
</div>
