@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <img src="css/images/FB-Banner-2.png"  width="auto" height="500px"/>
    <h1 class="display-4">Welcome to SEV</h1>
    <div class="container">
        
        <h1>What is this?</h1>
        <p>This is an app for SEV teacher, student and course management</p>
    </div>
</div>
